.classesContainer {
    // border: 2px solid red;
    width: 70%;
    margin: 0 auto;

    img {
        // border: 1px solid pink;
        width: 50%;
        border: 1px solid #cccaca;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .classDescription {
        // border: 2px solid red;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    .classDescription2 {
        // border: 2px solid red;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: right;
    }

    .optionsButtons {
        // border: 2px solid green;
        display: flex;
        justify-content: center;
        padding-top: 20px;
    }

    .firstRow {
        // border: 2px solid blue;
        margin-top: 10vh;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #cccaca;
        padding-bottom: 100px;
    }
    .secondRow {
        // border: 2px solid blue;
        margin-top: 22vh;
        display: flex;
        justify-content: space-around;
    }
    .thirdRow {
        // border: 2px solid blue;
        margin-top: 22vh;
        display: flex;
        justify-content: space-around;
    }
    .fourthRow {
        // border: 2px solid blue;
        margin-top: 22vh;
        display: flex;
        justify-content: space-around;
        margin-bottom: 5vh;
    }
}