.contactContainer {
    // border: 2px solid red;
    width: 70%;
    margin: 0 auto;

    .bannerImage {
        margin-top: 2vh;

        img {
            // border: 2px solid orange;
            max-width: 50%;
            height: auto;
            border-radius: 5px;
        }
    }

    
    .contactInfo {
        // border: 2px solid orange;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2vh;
        span {
            font-weight: bold;
        }

        .detailsDiv {
            margin-top: 20px;
            margin-bottom: 4vh;
        }

        .submitContainer {
            // border: 2px solid palevioletred;
            display: flex;
            justify-content: flex-end;
        }
    }
}